name: Mlops CI Workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Workflow:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name : run data processing script
        run: |
          python src/data/run_processing.py \
           --input data/raw/house_data.csv  \
           --output data/processed/cleaned_house_data.csv
      - name : Do feature engineering
        run: |
          python src/features/engineer.py \
            --input data/processed/cleaned_house_data.csv \
            --output data/processed/featured_house_data.csv \
            --preprocessor models/trained/preprocessor.pkl
      
      - name: Start MLflow server
        run: |
          docker pull ghcr.io/mlflow/mlflow

          docker run -d \
            -p 5555:5000 \
            --name mlflow-server \
            ghcr.io/mlflow/mlflow \
            mlflow server \
            --host 0.0.0.0 \
            --port 5000 \
            --backend-store-uri sqlite:///mlflow.db \
            --default-artifact-root /tmp/mlruns


      - name : Train model
        run: |
          python src/models/train_model.py \
            --config configs/model_config.yaml \
            --data data/processed/featured_house_data.csv \
            --models-dir models  \
            --mlflow-tracking-uri http://localhost:5555

      - name : Cleaning up MLflow server
        run: |
          docker stop mlflow-server
          docker rm mlflow-server
          docker rmi ghcr.io/mlflow/mlflow